# Исключение файлов и директорий IntelliJ IDEA
.idea/

# Исключение целевых директорий сборки
target/

# Исключение файлов macOS
.DS_Store

# Исключение других временных и системных файлов
*.log
node_modules/
dist/
build/
*.tmp
*.swp